@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
	var items = GetLoop("ItemPublisher:Items.List");
}

@if (items.Count() > 0)
{
	foreach (var item in items)
	{
		var type = string.IsNullOrWhiteSpace(item.GetString("ItemPublisher:Item.Type")) ? "default" : item.GetString("ItemPublisher:Item.Type");
		<section class="slide-@type">
			<header><h1>@item.GetString("ItemPublisher:Item.Title")</h1></header>

			<div class="content">@item.GetString("ItemPublisher:Item.Content")</div>
		</section>
	}
}
