@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="items">
	@if (GetBoolean("ItemPublisher:Items.Any"))
	{
		<ol>
			@foreach (var item in GetLoop("ItemPublisher:Items.List"))
			{
				<li>
					<div class="name">@item.GetValue("ItemPublisher:Item.Name")</div>
					<div class="time">@item.GetValue("ItemPublisher:Item.Time")</div>
					<div class="text">@item.GetValue("ItemPublisher:Item.Text")</div>
	</li>
			}
		</ol>
	}
</div>

