@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<!--@Include(/Files/Templates/Designs/tech-conf-2014/razor/helpers/Helpers.cshtml)-->
@{
    var speakers = GetLoop("ItemPublisher:Items.List");
}

@helper Speaker(Dynamicweb.Content.Items.ItemEntry speaker)
{

}

<div class="list-speaker">
	<div class="row">
		@foreach (var speaker in speakers)
    {
		<div class="col-md-4 col-sm-6">
			<div class="speaker">
				<a href='@speaker.GetValue("ItemPublisher:Item.Url")'>
					<div class="image">
						@Image(speaker.GetString("ItemPublisher:Item.Image"), 0, 0, "img-circle")
					</div>
					<div class="name">
						@speaker.GetValue("ItemPublisher:Item.Name")
					</div>
				</a>
			</div>
		</div>
    }
	</div>
</div>
