@import 'compass';
@import 'schedule';
@import 'session';
@import 'guestbook';

.container {
	> .row > * {
		margin-bottom: 1em;
	}
}

.speakers {
	.speaker {
		display: inline-block;
		// float: left;

		+ .speaker::before {
			content: ' & ';
		}
	}
}

.speaker {
	.description {
		margin: 1em 0;
	}

 	.sessions {
 		header {
			h1 {
				font-size: 36px * (30/36);
			}
		}

		ol {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
		}

		.session {
			.starttime {
				float: left;
				margin-right: 2em;
			}
		}
 	}
}

.list-speaker {
	.speaker {
		text-align: center;

		.name {
			margin: 0 0 2em;
		}
	}
}

.buttons {
	text-align: right;
}

.paragraph {
	@media (min-width: 768px) {
		&.image-left {
			.paragraph-image {
				float: left;
				max-width: (100%) / 3;
				margin-right: 2%;
			}
		}

		&.image-right {
			.paragraph-image {
				float: right;
				max-width: (100%) / 3;
				margin-left: 2%;
			}
		}
	}

	@media (max-width: 767px) {
		.paragraph-image {
			margin-bottom: 1em;
		}
	}

	.paragraph-image {
		img {
			max-width: 100%;
		}
	}
}

.people {
	.header {
		font-weight: bold;
	}

	.person:nth-child(2n) {
		background: #eee;
	}
}

.list-location {
	.location {
		margin-bottom: 1em;

		h1 {
			margin-top: 0;
		}
	}
}