/* line 25, ../sass/_schedule.scss */
.grid-13 .col-xs-13, .grid-13 .col-sm-13, .grid-13 .col-md-13, .grid-13 .col-lg-13 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 32, ../sass/_schedule.scss */
.grid-13 .col-xs-13 {
  float: left;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-1 {
  width: 7.69231%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-2 {
  width: 15.38462%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-3 {
  width: 23.07692%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-4 {
  width: 30.76923%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-5 {
  width: 38.46154%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-6 {
  width: 46.15385%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-7 {
  width: 53.84615%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-8 {
  width: 61.53846%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-9 {
  width: 69.23077%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-10 {
  width: 76.92308%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-11 {
  width: 84.61538%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-12 {
  width: 92.30769%;
}
/* line 5, ../sass/_schedule.scss */
.grid-13 .col-xs-13 {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-1 {
    width: 7.69231%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-2 {
    width: 15.38462%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-3 {
    width: 23.07692%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-4 {
    width: 30.76923%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-5 {
    width: 38.46154%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-6 {
    width: 46.15385%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-7 {
    width: 53.84615%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-8 {
    width: 61.53846%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-9 {
    width: 69.23077%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-10 {
    width: 76.92308%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-11 {
    width: 84.61538%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-12 {
    width: 92.30769%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-sm-13 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-1 {
    width: 7.69231%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-2 {
    width: 15.38462%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-3 {
    width: 23.07692%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-4 {
    width: 30.76923%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-5 {
    width: 38.46154%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-6 {
    width: 46.15385%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-7 {
    width: 53.84615%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-8 {
    width: 61.53846%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-9 {
    width: 69.23077%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-10 {
    width: 76.92308%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-11 {
    width: 84.61538%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-12 {
    width: 92.30769%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-md-13 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-1 {
    width: 7.69231%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-2 {
    width: 15.38462%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-3 {
    width: 23.07692%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-4 {
    width: 30.76923%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-5 {
    width: 38.46154%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-6 {
    width: 46.15385%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-7 {
    width: 53.84615%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-8 {
    width: 61.53846%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-9 {
    width: 69.23077%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-10 {
    width: 76.92308%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-11 {
    width: 84.61538%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-12 {
    width: 92.30769%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-13 .col-lg-13 {
    width: 100%;
  }
}

/* line 25, ../sass/_schedule.scss */
.grid-14 .col-xs-14, .grid-14 .col-sm-14, .grid-14 .col-md-14, .grid-14 .col-lg-14 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 32, ../sass/_schedule.scss */
.grid-14 .col-xs-14 {
  float: left;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-1 {
  width: 7.14286%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-2 {
  width: 14.28571%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-3 {
  width: 21.42857%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-4 {
  width: 28.57143%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-5 {
  width: 35.71429%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-6 {
  width: 42.85714%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-7 {
  width: 50%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-8 {
  width: 57.14286%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-9 {
  width: 64.28571%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-10 {
  width: 71.42857%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-11 {
  width: 78.57143%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-12 {
  width: 85.71429%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-13 {
  width: 92.85714%;
}
/* line 5, ../sass/_schedule.scss */
.grid-14 .col-xs-14 {
  width: 100%;
}
@media (min-width: 768px) {
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-1 {
    width: 7.14286%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-2 {
    width: 14.28571%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-3 {
    width: 21.42857%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-4 {
    width: 28.57143%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-5 {
    width: 35.71429%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-6 {
    width: 42.85714%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-7 {
    width: 50%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-8 {
    width: 57.14286%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-9 {
    width: 64.28571%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-10 {
    width: 71.42857%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-11 {
    width: 78.57143%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-12 {
    width: 85.71429%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-13 {
    width: 92.85714%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-sm-14 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-1 {
    width: 7.14286%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-2 {
    width: 14.28571%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-3 {
    width: 21.42857%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-4 {
    width: 28.57143%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-5 {
    width: 35.71429%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-6 {
    width: 42.85714%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-7 {
    width: 50%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-8 {
    width: 57.14286%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-9 {
    width: 64.28571%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-10 {
    width: 71.42857%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-11 {
    width: 78.57143%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-12 {
    width: 85.71429%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-13 {
    width: 92.85714%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-md-14 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-1 {
    width: 7.14286%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-2 {
    width: 14.28571%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-3 {
    width: 21.42857%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-4 {
    width: 28.57143%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-5 {
    width: 35.71429%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-6 {
    width: 42.85714%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-7 {
    width: 50%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-8 {
    width: 57.14286%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-9 {
    width: 64.28571%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-10 {
    width: 71.42857%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-11 {
    width: 78.57143%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-12 {
    width: 85.71429%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-13 {
    width: 92.85714%;
  }
  /* line 5, ../sass/_schedule.scss */
  .grid-14 .col-lg-14 {
    width: 100%;
  }
}

/* line 75, ../sass/_schedule.scss */
.schedule .day {
  padding: 0 15px;
  border: solid 1px #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 82, ../sass/_schedule.scss */
.schedule .row + .row {
  border-top: none;
}
/* line 86, ../sass/_schedule.scss */
.schedule .row:nth-child(2n) {
  background: #eee;
}
@media (min-width: 768px) {
  /* line 91, ../sass/_schedule.scss */
  .schedule .row .time, .schedule .row .session {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 102, ../sass/_schedule.scss */
  .schedule .row .session {
    min-height: 4em;
    border-left: solid 1px #eee;
  }
  /* line 106, ../sass/_schedule.scss */
  .schedule .row .session.break {
    min-height: 2em;
  }
  /* line 113, ../sass/_schedule.scss */
  .schedule .row .time {
    width: 10%;
  }
  /* line 117, ../sass/_schedule.scss */
  .schedule .row .session {
    width: 90%;
  }
  /* line 121, ../sass/_schedule.scss */
  .schedule .row.slots-2 .session {
    width: 45%;
  }
  /* line 126, ../sass/_schedule.scss */
  .schedule .row.slots-3 .session, .schedule .row.slots-4 .session {
    width: 30%;
  }
  /* line 130, ../sass/_schedule.scss */
  .schedule .row.slots-4 .time + .session {
    width: 90%;
  }
  /* line 133, ../sass/_schedule.scss */
  .schedule .row.slots-4 .time + .session + .session {
    margin-left: 10%;
  }
}
/* line 140, ../sass/_schedule.scss */
.schedule .time {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 145, ../sass/_schedule.scss */
  .schedule .time {
    text-align: right;
  }
}
/* line 150, ../sass/_schedule.scss */
.schedule .session {
  text-align: center;
  position: relative;
}
/* line 153, ../sass/_schedule.scss */
.schedule .session .title {
  font-weight: bold;
}
/* line 157, ../sass/_schedule.scss */
.schedule .session .subtitle {
  display: none;
}
@media (min-width: 768px) {
  /* line 160, ../sass/_schedule.scss */
  .schedule .session .subtitle {
    display: block;
  }
}
/* line 167, ../sass/_schedule.scss */
.schedule .session.level-1 {
  padding-bottom: 17.5px;
}
/* line 59, ../sass/_schedule.scss */
.schedule .session.level-1::after {
  background-image: url(../images/geek.png);
  background-size: 17px 17.5px;
  display: block;
  width: 17px;
  height: 17.5px;
  content: '';
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* line 168, ../sass/_schedule.scss */
.schedule .session.level-2 {
  padding-bottom: 17.5px;
}
/* line 59, ../sass/_schedule.scss */
.schedule .session.level-2::after {
  background-image: url(../images/geek.png);
  background-size: 17px 17.5px;
  display: block;
  width: 34px;
  height: 17.5px;
  content: '';
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* line 169, ../sass/_schedule.scss */
.schedule .session.level-3 {
  padding-bottom: 17.5px;
}
/* line 59, ../sass/_schedule.scss */
.schedule .session.level-3::after {
  background-image: url(../images/geek.png);
  background-size: 17px 17.5px;
  display: block;
  width: 51px;
  height: 17.5px;
  content: '';
  position: absolute;
  bottom: 5px;
  right: 5px;
}
@media (max-width: 767px) {
  /* line 173, ../sass/_schedule.scss */
  .schedule .session {
    border-bottom: solid 1px #eee;
  }
}

/* line 180, ../sass/_schedule.scss */
.session.level-1 header {
  padding-bottom: 35px;
}
/* line 59, ../sass/_schedule.scss */
.session.level-1 header::after {
  background-image: url(../images/geek.png);
  background-size: 34px 35px;
  display: block;
  width: 34px;
  height: 35px;
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 181, ../sass/_schedule.scss */
.session.level-2 header {
  padding-bottom: 35px;
}
/* line 59, ../sass/_schedule.scss */
.session.level-2 header::after {
  background-image: url(../images/geek.png);
  background-size: 34px 35px;
  display: block;
  width: 68px;
  height: 35px;
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 182, ../sass/_schedule.scss */
.session.level-3 header {
  padding-bottom: 35px;
}
/* line 59, ../sass/_schedule.scss */
.session.level-3 header::after {
  background-image: url(../images/geek.png);
  background-size: 34px 35px;
  display: block;
  width: 102px;
  height: 35px;
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
}

/* line 5, ../sass/tech-conf-2014.scss */
.speakers .speaker {
  display: inline-block;
}
/* line 9, ../sass/tech-conf-2014.scss */
.speakers .speaker + .speaker::before {
  content: ' & ';
}

/* line 18, ../sass/tech-conf-2014.scss */
.speaker .sessions header h1 {
  font-size: 30px;
}
/* line 23, ../sass/tech-conf-2014.scss */
.speaker .sessions ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
/* line 30, ../sass/tech-conf-2014.scss */
.speaker .sessions .session .starttime {
  float: left;
  margin-right: 2em;
}

/* line 38, ../sass/tech-conf-2014.scss */
.guestbook-entry {
  margin: 1em 0;
}

/* line 43, ../sass/tech-conf-2014.scss */
.list-speaker .speaker {
  text-align: center;
}
/* line 46, ../sass/tech-conf-2014.scss */
.list-speaker .speaker .name {
  margin: 0 0 2em;
}
