@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<!--@MasterPageFile(master/main.cshtml)-->
<!--@Title(Guestbook)-->

<div class="dwcontent" id="main" title="Main content"></div>

<div class="dwcontent" id="entries" title="Entries"></div>
