@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<!--@Include(/Files/Templates/Designs/tech-conf-2014/razor/helpers/Social.cshtml)-->

<article class="guestbook-entry">
	<header>
		@Gravatar(GetString("Item.Email")) <span class="name">@GetValue("Item.Name")</span><span class="time">@GetDate("Item.Time").ToString("yyyy-MM-hh HH:mm")</span>
	</header>

	<div class="message">
		@GetValue("Item.Text")
	</div>
</article>
