@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<article class="guestbook-entry">
	<header>
		@Gravatar() <span class="name">@GetValue("Item.Name")</span><span class="time">@GetDate("Item.Time").ToString("yyyy-MM-hh HH:mm")</span>
	</header>

	<div class="message">
		@GetValue("Item.Text")
	</div>
</article>
